{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/logout">Logout</a>
    <a href="/">Return</a>
</div>

<br>
<h2>Article</h2>

<form action="/add_article" method="post">
    <p>
        Reference key: <input type="text" name="ref_key">
    </p>
    <p>
        Author: <input type="text" name="author">
    </p>
    <p>
        Title: <input type="text" name="title">
    </p>
    <p>
        Journal: <input type="text" name="journal">
    </p>
    <p>
        Year: <input type="number" name="year">
    </p>
    <p>
        Volume: <input type="number" name="volume">
    </p>
    <input type="submit" value="Add reference">
</form>


{% endblock %}