{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/logout">Logout</a>
    <a href="/">Return</a>
</div>

<br>
<h2>Book</h2>
<b> ~ Fill in all fields ~ </b>
<form action="/add_book" method="post">
    <p>
        Reference key: <input type="text" name="ref_key">
    </p>
    <p>
        Author: <input type="text" name="author">
    </p>
    <p>
        Title: <input type="text" name="title">
    </p>
    <p>
        Publisher: <input type="text" name="publisher">
    </p>
    <p>
        Year: <input type="number" name="year">
    </p>
    <input type="submit" value="Add reference">
</form>

{% endblock %}