{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}

<div class="topnav">
  <a href="/logout">Logout</a>
</div>

Add new reference
<form action="/add_reference" method="get">
  <select name="add_reference" width="30">
    <option value="book">Book</option>
    <option value="article">Article</option>
    <option value="master_thesis">Master thesis</option>
    <option value="inproceedings">Inproceedings</option>
  </select>
  <input type="submit" value="Continue">
</form>
<a href="/get_references">View references</a>

{% else %}

<div class="topnav">
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</div>

{% endif %}



{% endblock %}