<title>Reference library</title>
{% extends "layout.html" %}



{% block content %}


{% if session.user_id %}

<div class="topnav">
  <a href="/view_references">View references</a>
  <a href="/view_bibtex">View references in BibTeX format</a>
  <a href="/logout">Logout</a>
</div>

<h2>Add new reference</h2>
Select type:
<form action="/add_reference" method="get">
  <select name="add_reference" width="30">
    <option value="article">Article</option>
    <option value="book">Book</option>
    <option value="inproceedings">Inproceedings</option>
    <option value="master_thesis">Master thesis</option>
  </select>
  <input type="submit" value="Continue">
</form>

{% else %}

<div class="topnav">
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</div>

{% endif %}



{% endblock %}