{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/logout">Logout</a>
    <a href="/">Return</a>
</div>

<br>
<h2>Inproceedings</h2>

<form action="/add_reference" method="post">
    <p>
        Viiteavain: <input type="text" name="ref_key">
    </p>
    <p>
        Kirjailija: <input type="text" name="author">
    </p>
    <p>
        Otsikko: <input type="text" name="title">
    </p>
    <p>
        Kirjan nimi: <input type="text" name="book_name">
    </p>
    <p>
        Vuosi: <input type="text" name="Lisää">
    </p>

    <input type="submit" value="Login">
</form>


{% endblock %}