{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/logout">Logout</a>
    <a href="/">Return</a>
</div>

<h2>Master thesis</h2>

<form action="/add_masterthesis" method="post">
    <p>
        Reference key: <input type="text" name="ref_key">
    </p>
    <p>
        Author: <input type="text" name="author">
    </p>
    <p>
        Title: <input type="text" name="title">
    </p>
    <p>
        School: <input type="text" name="school">
    </p>
    <p>
        Year: <input type="number" name="year">
    </p>

    <input type="submit" value="Add reference">
</form>


{% endblock %}