{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/logout">Logout</a>
    <a href="/">Return</a>
</div>

<h2>Master thesis</h2>

<form action="/add_reference" method="post">
    <p>
        Viiteavain: <input type="text" name="ref_key">
    </p>
    <p>
        Kirjailija: <input type="text" name="author">
    </p>
    <p>
        Otsikko: <input type="text" name="title">
    </p>
    <p>
        Koulu: <input type="text" name="school">
    </p>
    <p>
        Vuosi: <input type="text" name="year">
    </p>

    <input type="submit" value="Lisää">
</form>


{% endblock %}