<title>Register</title>
{% extends "layout.html" %}

{% block content %}

<div class="topnav">
  <a href="/">Front page</a>
  <a href="/login">Login</a>
</div>

<form action="/register" method="post">
  <p>
    Username: <input type="text" name="username"> <small> (accepts [a-ö], [A-Ö] & [0-9], minimum 4 characters) </small>
  </p>
  <p>
    Password: <input type="password" name="password1"> <small> (minimum 8 characters) </small>
  </p>
  <p>
    Type password again: <input type="password" name="password2">
  </p>
  <input type="submit" value="Create an account">
</form>

{% endblock %}