{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}

<div class="topnav">
    <a href="/logout">Logout</a>
    <a href="/">Return</a>
</div>

<h2> References </h2>

{% if articles %}
<h3> Articles </h3>
<table style="width: 50%">
    <thead style="text-align:left">
        <tr>
            <th>Reference key</th>
            <th>Author</th>
            <th>Title</th>
            <th>Journal</th>
            <th>Year</th>
            <th>Volume</th>
        </tr>
    </thead>
    {% for article in articles %}
    <tbody>
        <tr>
            <td>{{article.ref_key}}</td>
            <td>{{article.author}}</td>
            <td>{{article.title}}</td>
            <td>{{article.journal}}</td>
            <td>{{article.year}}</td>
            <td>{{article.volume}}</td>
        </tr>
    </tbody>
    {% endfor %}
    {% endif %}

    {% for article in articles %}
    <code>
    @article{ {{ article.ref_key }},
    <p style="margin-left: 50px">author = { {{ article.author }} },</p>
    <p style="margin-left: 50px">title = { {{ article.title }} },</p>
    <p style="margin-left: 50px">journal = { {{ article.journal }} },</p>
    <p style="margin-left: 50px">year = { {{ article.year }} },</p>
    <p style="margin-left: 50px">volume = { {{ article.volume }} }</p>
    }
    </code>
    {% endfor %}


    {% else %}

    <div class="topnav">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

    {% endif %}



    {% endblock %}