{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}

<div class="topnav">
    <a href="/logout">Logout</a>
    <a href="/view_references">Return</a>
</div>

<h2> BibTeX</h2>

{% if articles %}
{% for article in articles %}
<div class="language-plaintext highlighter-rouge">
    <div class="highlight">
        <pre class="highlight">
            <code>
@article&#123;{{article.ref_key}},
    author = &#123;{{article.author}}},
    title = &#123;{{article.title}}},
    journal = &#123;{{article.journal}}},
    year = &#123;{{article.year}}},
    volume = &#123;{{article.volume}}},
}
            </code>
        </pre>
    </div>
</div>
{% endfor %}
{% endif %}

{% if books %}
{% for book in books %}
<div class="language-plaintext highlighter-rouge">
    <div class="highlight">
        <pre class="highlight">
            <code>
@book&#123;{{book.ref_key}},
    author = &#123;{{book.author}}},
    title = &#123;{{book.title}}},
    year = &#123;{{book.year}}},
    publisher = &#123;{{book.publisher}}},
}
            </code>
        </pre>
    </div>
</div>
{% endfor %}
{% endif %}

{% if inproceedings %}
{% for inproceeding in inproceedings %}
<div class="language-plaintext highlighter-rouge">
    <div class="highlight">
        <pre class="highlight">
            <code>
@inproceedings&#123;{{inproceeding.ref_key}},
    author = &#123;{{inproceeding.author}}},
    title = &#123;{{inproceeding.title}}},
    year = &#123;{{inproceeding.year}}},
    booktitle = &#123;{{inproceeding.booktitle}}},
}
            </code>
        </pre>
    </div>
</div>
{% endfor %}
{% endif %}

{% if master_thesis %}
{% for thesis in master_thesis %}
<div class="language-plaintext highlighter-rouge">
    <div class="highlight">
        <pre class="highlight">
            <code>
@masterthesis&#123;{{thesis.ref_key}},
    author = &#123;{{thesis.author}}},
    title = &#123;{{thesis.title}}},
    school = &#123;{{thesis.school}}},
    year = &#123;{{thesis.year}}},
}
            </code>
        </pre>
    </div>
</div>
{% endfor %}
{% endif %}

{% else %}

<div class="topnav">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

{% endif %}



{% endblock %}