{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}

<div class="topnav">
    <a href="/">Add new reference</a>
    <a href="/view_bibtex">View BibTeX</a>
    <a href="/logout">Logout</a>
</div>

<h2> References </h2>

{% if articles %}
<table>
    <caption> <b>Articles</b> </caption>
    <thead style="text-align:left">
        <tr>
            <th>Reference key</th>
            <th>Author</th>
            <th>Title</th>
            <th>Journal</th>
            <th>Year</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{article.ref_key}}</td>
            <td>{{article.author}}</td>
            <td>{{article.title}}</td>
            <td>{{article.journal}}</td>
            <td>{{article.year}}</td>
            <td>{{article.volume}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br>
<br>

{% if books %}
<table>
    <caption> <b> Books </b> </caption>
    <thead style="text-align:left">
        <tr>
            <th>Reference key</th>
            <th>Author</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{book.ref_key}}</td>
            <td>{{book.author}}</td>
            <td>{{book.title}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.year}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br>
<br>

{% if inproceedings %}
<table>
    <caption> <b>Inproceedings</b> </caption>
    <thead style="text-align:left">
        <tr>
            <th>Reference key</th>
            <th>Author</th>
            <th>Title</th>
            <th>Booktitle</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for inproceeding in inproceedings %}
        <tr>
            <td>{{inproceeding.ref_key}}</td>
            <td>{{inproceeding.author}}</td>
            <td>{{inproceeding.title}}</td>
            <td>{{inproceeding.booktitle}}</td>
            <td>{{inproceeding.year}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br>
<br>

{% if master_thesis %}
<table>
    <caption> <b>Master Thesis</b> </caption>
    <thead style="text-align:left">
        <tr>
            <th>Reference key</th>
            <th>Author</th>
            <th>Title</th>
            <th>School</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for thesis in master_thesis %}
        <tr>
            <td>{{thesis.ref_key}}</td>
            <td>{{thesis.author}}</td>
            <td>{{thesis.title}}</td>
            <td>{{thesis.school}}</td>
            <td>{{thesis.year}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<p>Decide a name for your BibTeX file and download it!</p>
<form action="/create_bibtex" method="post">
    <textarea name="file_name" rows="1" value="file_name"></textarea>.bib
    <input type="submit" value="Download">
</form>

{% else %}

<div class="topnav">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

{% endif %}



{% endblock %}